@{
    ViewData["Title"] = "Order Complete";
}

<div class="container my-5">
    <br><br>
    <div class="text-center">
        <img src="https://cdn-icons-png.flaticon.com/512/148/148767.png"
             style="width: 200px; height: 200px; display: block; margin: 0 auto;">
        <br><br>
        <h1><strong>Your order has been received</strong></h1>
        <br>
        <p>Thank you for your purchase!</p>
        <a class="btn btn-primary px-4"
               asp-controller="Products" asp-action="Shop">
            Start Shopping Again
        </a>
    </div>
    <br><br>
</div>